/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;

}

button {
	background-color: navy;
	border-color: navy;
	color: white;   
	font-weight: bold;
	padding: 10px; 
	border-radius: 5px;
	transition: background-color 0.2s ease-out;
	font-family: serif;
	text-transform: capitalize;
	font-size: inherit;
	text-align: center;
}

button:hover {
	background-color: darkblue;
	border-color: rgb(0, 0, 71);
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}