<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>sections</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>search</span>
        </div>
			</li>
		</ul>
	</nav>

   	<nav class="right-nav">

		<ul>
      <li data-controller="subscribe-now-button"> 

        <div id="subscribe-now-button" data-action="click->modal#subscribeModal">
          <span>Subscribe Now</span>
        </div>

      </li>

			<li data-controller="Login">

        <div id="Login" data-action="click->modal#loginModal">
          <span>Login</span>
        </div>

			</li>

     	<li data-controller="Gears">
        <div id="Settings" data-action="click->modal#toggleSettings">
          <i class="fa-solid fa-sharp fa-gear"></i>

      </li>
      

		</ul>
	</nav>

</header>